@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-primary">Patients List</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Patients" class="btn btn-info form-control text-white bg-warning border-warning">
            Append a Patient
        </a>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-hover table-bordered" style="width: 100%;">
            <thead calss="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Doc_Name</th>
                    <th>Date</th>
                    <th>Illness</th>
                    <th>Medicines</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts{
                <script src="~/js/patientList.js"></script>
            }