@{
    ViewData["Title"] = "Home Page";
}

<style>
    
    h1{
        margin-top: 140px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">e-Patient Records</h1>
    <p>A digitized way to securely save patient records.</p>

</div>
